[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
python-decouple = "*"
requests = "*"
regex = "*"
timeloop = "*"
asyncio = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
dev = "nodemon --exec python launcher.py"
